{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<form action="/checkout" method="POST">
    <button type="submit">checkout</button>
</form>
{% endblock %}
